appdirs==1.4.4
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
ConfigArgParse==1.2.3
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-BasicAuth==0.2.0
gevent==20.5.1
geventhttpclient==1.4.2
greenlet==0.4.15
idna==2.9
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
locust==1.0.2
MarkupSafe==1.1.1
matplotlib==3.3.1
msgpack==1.0.0
networkx==2.5
numpy==1.19.1
opencv-python==4.4.0.42
opencv-python-headless==4.2.0.32
Pillow==7.2.0
pipenv==2020.8.13
psutil==5.7.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
pyzmq==19.0.1
requests==2.23.0
scikit-image==0.17.2
scipy==1.5.2
six==1.15.0
soupsieve==2.0.1
tifffile==2020.8.13
urllib3==1.25.9
virtualenv==20.0.31
virtualenv-clone==0.5.4
Werkzeug==1.0.1
zope.event==4.4
zope.interface==5.1.0
